@mixin flex($direcrion: null, $content: null, $align: null) {
  @if $direcrion != null {
    flex-direction: $direcrion;
  }

  @if $content != null {
    justify-content: $content;
  }

  @if $align != null {
    align-items: $align;
  }

  display: flex;
}
