@use '@/styles/mixin' as *;
@reference "tailwindcss";

body {
  @include flex(null, center, center);
  @apply m-0;
  background-color: rgb(17, 36, 27);
  height: 100vh;
  width: 100vw;
  font-size: 1rem;

  main {
    @apply text-4xl rounded-md py-4 text-center p-10;
    background-color: rgb(53, 92, 72);
    @include flex(null, center, center);
    border: 3px solid rgb(230, 220, 149);
  }
}
