@use '@/styles/mixin' as *;
@reference "tailwindcss";

body {
  @include flex(null, center, center);
  background-color: rgb(17, 36, 27);
  height: 100vh;
  width: 100vw;
  font-size: 1rem;

  main {
    border-radius: 15px;
    padding: 4rem;
    text-align: center;

    background-color: rgb(53, 92, 72);
    @include flex(null, center, center);
    border: 3px solid rgb(230, 220, 149);
  }
}