@use '../../styles/mixin' as *;

.dropArea {
  @include flex(null, center, center);
  @apply mx-auto my-4 p-4 rounded-md text-center cursor-pointer text-4xl;
  font-weight: bold;
  width: 400px;
  height: 150px;
  background-color: rgb(224, 220, 152);
  border: 2px dashed rgb(106, 140, 64);
  color: rgb(51, 93, 69);
  transition: all 0.3s ease;
}

.dropArea:hover {
  @apply bg-teal-700;
  color: rgb(224, 220, 152);
  background-color: rgb(51, 93, 69);
  transform: scale(1.05);
}

.dropArea.dragging {
  @apply bg-teal-500;
  color: rgb(224, 220, 152);
  background-color: rgb(51, 93, 69);
  transform: scale(1.1);
  filter: blur(0.97);
}

.dropArea.disabled {
  opacity: 0.6; /* Уменьшение непрозрачности */
  cursor: not-allowed;
  pointer-events: none; /* Отключаем события мыши */
}
